*{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'Rubik', sans-serif;
}

p{
    font-family: 'Gelasio', serif;
}

.postContainer{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: auto;
    margin: auto;
}

.blogPost{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vw;
    color: #fff;
    background-color: #000;
    position: relative;
    opacity: 1;
    box-shadow: #000, 100px 100px 40px;
}

.postAnimation{
    top: -30vh;
    left: -30vw;
    background-color: rgb(236, 147, 63);
    z-index: 1;
    position: absolute;
    width: 30vw;
    height: 30vh;
    transition: 0.5s;
}

h1, h2 {
    text-align: center;
    z-index: 2;
}

.postPhoto{
    content: '';
    height: 30vh;
    width: 30vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 0;
}

#LFFIY20sP1{
    background: url('../src/img/p1.jpg') no-repeat center center/cover;
}