*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
body{
    background-color: rgb(236, 147, 63);
}

.app{
    background: url('../img/background.webp') no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#headerContainer{
    display: none;
}

.container{
    grid-column: 1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.calculator{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.432) 0px 10px 30px;
    color: #fff;
    background-color: #333333;
}

form {
    padding: 0 2rem;
}

.sectionHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/-1;
    height: 3rem;
    font-size: 1.2rem;
}

.sectionSubHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    color: #f1f1f1;
    font-size: 1.1rem;
    background-color: rgb(236, 147, 63);
}

#propertyReportHeader{
    background-color: #333333;
    color: #f1f1f1;
}

label{
    padding: 10px 0;
    justify-content: end;
    font-size: 1.2rem;
}

input{
    line-height: 2rem;
    height: 4vh;
    outline: none;
    border: none;
    font-size: 1rem;
}

.btn {
    cursor: pointer;
    margin: 1rem;
    align-self: center;
    outline: none;
    height: 8vh;
    width: 12vw;
    border-radius: 10px;
    font-size: 1.4rem;
    color: #fff;
    border: none;
}

#calculate {
    background-color: rgb(73, 230, 52);
    justify-self: end;
    transition: all 0.25s;
}

#calculate:hover{
    background-color: rgb(76, 240, 54);
}

#calculate:active{
    background-color: rgb(62, 199, 43);
}

#clear{
    background-color: rgb(236, 147, 63);
    justify-self: start;
    transition: all 0.25s;
}

#clear:hover{
    background-color: rgb(248, 154, 66)
}

#clear:active{
    background-color: rgb(206, 128, 54)
}

.shortInput {
    width: 65%;
}

.report{
    display: flex;
    flex-direction: column;
    width: 40vw;
    position: absolute;
    top: 6%;
    right: -40vw;
    transition: all 1s;
    grid-column: 2;
    grid-row: 1/-1;
    height: 100vh;
    background-color: #333333;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.452);
}

#footer{
    background-color: #000;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    font-size: 0.8rem;
}
h1{
    color: #fff;
}
.reportTable{
    height: auto;
    width: 100%;
    border-spacing: 0;
    color: #f1f1f1;
}

.reportTable tr{
    line-height: 4vh;
    background-color: #555555;
}

.reportTable tr:nth-of-type(2n){
    background-color: #333333;
}

.reportTable td:nth-of-type(2n){
    text-align: right;
    padding-right: 2rem;
}

.reportTable td:nth-of-type(2n + 1){
    padding-left: 1rem;
}

#total{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#scorecardBtn{
    justify-self: center;
    align-self: center;
    height: 6vh;
    min-height: 4vh;
    width: 12vw;
    background-color: rgb(73, 230, 52);
}

.modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scorecard{
    margin: auto;
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.scorecard h1, h2, p{
    margin: 1rem auto;
}

.a{
 background-color: rgb(73, 230, 52);
}
.b{

}
.c{

}
.d{

}
.f{

}