@media only screen and (max-width: 415px){
    *{
        overflow: auto;
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #333333;
    }

    #headerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background-color: #000;
        position: relative;
        opacity: 1;
    }

    #headerContainer h1{
        line-height: 6rem;
        padding: 2rem;
        font-size: 4rem;
        text-align: center;
        z-index: 2;
    }

    #heroImage{
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: url('./background.webp') no-repeat center center/cover;
        opacity: 0.4;
    }

    .app{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    #container{
        height: auto;
        width: 100%;
        overflow-x: hidden;
        padding: 0;
    }
    .calculator{
        padding: 10px 0;
        height: auto;
        line-height: 1.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 0.9rem;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
    }

    .sectionHeader{
        margin: 10px 0;
        height: 12vh;
        line-height: 2.5rem;
        font-size: 1.5rem;
    }

    label{
        margin: 20px 0 10px 0;
    }

    input{
        height: 3rem;
        width: 70vw;
    }
    
    .radio {
        width: 5vw;
        height: 5vh;
    }

    .btn{
        margin: 10px 0;
        width: 60vw;
        height: 8vh;
    }

    #payment, #downPmt, #principal{
        color: rgb(127, 201, 250);
        font-size: 1rem;
    }

    .report{
        height: auto;
        position: initial;
        width: 100vw;
        box-shadow: none;
    }

    .shortInput{
        width: 50vw;
    }

    #calculate{
        margin-top: 2rem;
    }


}